.container {
  width: 100%;
}
.search-box {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #fff;
  z-index: 9;
}

.box-shadow {
  box-shadow: rgb(0 0 0 / 20%) 0px 1px 3px 0px,
    rgb(0 0 0 / 14%) 0px 1px 1px 0px,
    rgb(0 0 0 / 12%) 0px 2px 1px -1px;
}

.search-input {
  width: 20%;
  margin: 5px;
  padding: 5px 3px;
  border-radius: 3px;
}

.main {
position: relative;
margin-top: 40px;
}

.row {
  display: flex;
  margin: 5px 0px 10px 0px;
  padding: 5px 10px 5px 10px;

}

.row-items {
margin-right: 110px
}

.row-searched {
  background-color: antiquewhite;
}